/* src/index.css */
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* 确保最外层水平居中 */
  background-color: #F0F2F5;
}

#root {
  width: 100%;
  max-width: 500px; /* 限制最大宽度，在PC上像手机App */
}